name: Package Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    # types: [ closed ]
    
jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    # if: github.event.pull_request.merged == true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check org package version changes
        id: check
        run: | 
           git fetch
           if ! git diff HEAD^ origin/master ./packages/utils/package.json; then
              echo "::set-output name=utils_updated::true"
           fi

           if ! git diff HEAD^ origin/master ./packages/types/package.json; then
              echo "::set-output name=types_updated::true"
           fi
      - run: npm install      
        if: steps.check.outputs.utils_updated == 'true'
        working-directory: ./packages/utils
        
      - name: Set up Node.js for GPR
        if: 
           steps.check.outputs.utils_updated == 'true' || 
           steps.check.outputs.types_updated == 'true'
        uses: actions/setup-node@v1
        with:
          registry-url: "https://npm.pkg.github.com/"
          scope: "@hamza-ghufran"
 
      - name: Publish utils package to <Org> github packages
        if: steps.check.outputs.utils_updated == 'true'
        run: npm publish
        working-directory: ./packages/utils
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          
      - run: npm install      
        if: steps.check.outputs.types_updated == 'true'
        working-directory: ./packages/types    
        
      - name: Publish types package to <Org> github packages
        if: steps.check.outputs.types_updated == 'true'
        run: npm publish
        working-directory: ./packages/types
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
