name: Package Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check packages/package.json version changes
        id: check
        run: | 
           git fetch
           if ! git diff --quiet origin/master ./packages/package.json; then
              echo "::set-output name=package_updated::true"
           else
              echo "::set-output name=package_updated::false"
           fi

      - name: Version update detected
        if: steps.check.outputs.package_updated == true
        run: 'echo "Version change found! \n"'

      - name: Log when unchanged
        if: steps.check.outputs.package_updated == false
        run: 'echo "No version change"'  

      - name: Set up Node.js for GPR
        if: steps.check.outputs.package_updated == true
        uses: actions/setup-node@v1
        with:
          registry-url: "https://npm.pkg.github.com/"
          scope: "@hamza-ghufran"

      - name: Publish package to GPR
        if: steps.check.outputs.package_updated == true
        run: npm publish
        working-directory: ./packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
